body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: darkblue;
  color: antiquewhite;
}
nav a,
nav a:visited {
  color: white;
  text-decoration: none;
}
